


<div class="section" id="section0">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
            <div class="hero-unit"><h1>Strictly Scholarship</h1></div>
             <div class="vp_slide1 "><h1 class="slideOutUp">Div1</h1></div>
             <div class="vp_slide2 "><h1 class="slideOutUp">Div2</h1></div>
      </div>
    </div>
  </div>
</div>


<div class="section hero-unit" id="section1">
  <div class="slide">
    <h1>simple</h1>
  </div>
  <div class="slide">
    <h1>Nice </h1>
  </div>
  <div class="slide">
    <h1>College</h1>
  </div>
</div>


<div class="section hero-unit" id="section2"><h1 >Just testing it</h1></div>
<div class="section hero-unit" id="section3"><h1 >Looks good</h1></div>

