// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div
{
  #section0
  {
    background-color: #730E15;
  }
  #section1
  {
    background-color: #0b7309;
  }
  #section2
  {
    background-color: #ff3b4a;
  }
  #section3
  {
    background-color: #2b7338;
  }
 /* #section0
  {
    background :image_url('slide1.jpg');
    -webkit-background-size:  100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size: 100% 100%;
  }
  #section1
  {
    background :image_url('slide2.jpg');
    -webkit-background-size:  100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size: 100% 100%;
  }


  #section2
  {
    background :image_url('slide3.jpg');
    -webkit-background-size:  100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size: 100% 100%;
  }

  #section3
  {
    background :image_url('slide4.jpg');
    -webkit-background-size:  100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size: 100% 100%;
  }
  */

}

